.container
{
    background-color:#EFEFEF;
    max-width:960px;
    text-align: center;
}
.btn {
    background: #72c3dc;
    min-width: 260px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 7px solid #2b8ead;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 13px;
    margin-bottom: 25px;
    padding: 20px 0 20px 0;
}
.card .value{
    font-size: 124px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
.color1 {
    background-color: #6F98A8;
}
.color2 {
    background-color: #2B8EAD;
}
.color3 {
    background-color: #2F454E;
}
.color4 {
    background-color: #BFBFBF;

}
.card
{
    padding: 10px;
    display: inline-block;
    font-size: 14pt;
    text-align: center;
    color:black;
}

@media (max-width:767px)
{
    .container
    {
        background-color: white;
    }
    .container .mobile_head
    {
        background-color: #000000;
        color:#FFFFFF;
    }
    #container .card
    {
        border-left: 5px solid;
        background-color: #efefef;
        height: 35px;
        margin-bottom: 7px;
    }
    .container .btn
    {
        min-width: 100%;
    }
    #container .card .value
    {
        color: #10000f;
        font-size: 15px;
    }
    #container .color1
    {
        border-left-color: #6F98A8;
    }
    #container .color2
    {
        border-left-color: #2B8EAD;
    }
    #container .color3
    {
        border-left-color: #2F454E;
    }
    #container .color4
    {
        border-left-color: #BFBFBF;
    }
}